# Created by .ignore support plugin (hsz.mobi)
/resources/test/output_files/
/venv/
/dist/
/build/
/.idea/workspace.xml
/outlines_unleashed.egg-info/
/tests/test_resources/output_files/
outline/__pycache__/